html, body{
  padding: 7px;
  font-family: sans-serif;
}
body a{
  text-decoration: none;
  font-weight: 700;
  color: #39B7CD;
}
.header{
  max-width: 1200px;
  margin: 0 auto;
  padding: 14px;
}
.header::after{
  content: 'This is a simple page to demonstrate the "Helpmate CSS" classes. The gutter default value is 14px. So the paddings, margins, etc will start on 14px and inc or dec from this. The base value for borders or any other property which requires a thin value to start will begin at 1px and be inc or dec from this.';
}
.content{
  font-family: sans-serif;
  padding: 14px;
  max-width: 1200px;
  position: relative;
  margin: 0 auto
}
.content .block{
  padding: 14px;
  margin-bottom: 28px;
}
.content .block h3{
  margin-top: 0;
}
.content .block div span{
  background-color: lightblue;
  display: inline-block;
  margin: 4px;
}
.square{
  font-size: 14px;
  background-color: #cccccc;
  display: inline-block;
  height: 145px;
  width: 145px;
  margin: 0px;
}
.square.mar{
  margin: 8px;
}
.square.big{
  height: 200px;
  width: 200px;
}
.square div{  
  background-color: #dddddd; 
  width: 100%; 
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.square div.bgno{
  background-color: transparent;
}
.text{
  padding: 8px;
  background-color: #fffff1;
  margin-bottom: 14px;
}
.hey{  
  font-weight: 700;
  color: darkviolet;
}