/*
  GUTTER CONFIG
*/
:root{ --hm-gutter: 14px; }
/*
  MIXINS
*/
@import 'hm_mixins';
/* 
  PADDING 
*/
@include hoz-and-vert('padding','padding', var(--hm-gutter));
@include sizefy('padding', 'padding', var(--hm-gutter));
@include sizefy('padding-top', 'padding-top', var(--hm-gutter));
@include sizefy('padding-left', 'padding-left', var(--hm-gutter));
@include sizefy('padding-right', 'padding-right', var(--hm-gutter));
@include sizefy('padding-bottom', 'padding-bottom', var(--hm-gutter));
/* 
  MARGIN
*/ 
@include hoz-and-vert('margin','margin', var(--hm-gutter));
@include sizefy('margin', 'margin', var(--hm-gutter));
@include sizefy('margin-top', 'margin-top', var(--hm-gutter));
@include sizefy('margin-left', 'margin-left', var(--hm-gutter));
@include sizefy('margin-right', 'margin-right', var(--hm-gutter));
@include sizefy('margin-bottom', 'margin-bottom', var(--hm-gutter));
/*
  BORDER
*/
@include classBorderStyles('border-style');
@include sizefy('round', 'border-radius', var(--hm-gutter));
@include sizefy('round-top-left', 'border-top-left-radius', var(--hm-gutter));
@include sizefy('round-top-right', 'border-top-right-radius', var(--hm-gutter));
@include sizefy('round-bottom-left', 'border-bottom-left-radius', var(--hm-gutter));
@include sizefy('round-bottom-right', 'border-bottom-right-radius', var(--hm-gutter));
@include classBorderRadiusCircle('round');
@include classBorderRadiusTopBottom('round');
/* 
  TEXT
*/
$textaligns: left, right, center, justify, unset, inherit; 
@include propertyToClass('text-align', 'text-align', $textaligns);
$transforms: capitalize, uppercase, lowercase, initial, inherit, none, unset;
@include propertyToClass('text-transform', 'text-transform', $transforms);
$whitespaces: pre, inherit, initial, normal, nowrap, pre-line, pre-wrap, unset;
@include propertyToClass('white-space', 'white-space', $whitespaces);
$decorations: underline, overline, line-through, blink, dashed, dotted, double, inherit, initial, none, solid, unset, wavy;
@include propertyToClass('text-decoration', 'text-decoration', $decorations);
$fontweights: bold, bolder, lighter, 100, 200, 300, 400, 500, 600, 700, 800, 900; 
@include propertyToClass('font-weight', 'font-weight', $fontweights);
/* 
  CURSOR
*/ 
$cursors: auto, default, none, context-menu, help, pointer, progress, wait, cell, crosshair, text, vertical-text, alias, copy, move, no-drop, notowed, all-scroll, col-resize, row-resize, n-resize, e-resize, s-resize, w-resize, ns-resize, ew-resize, ne-resize, nw-resize, se-resize, sw-resize, nesw-resize, nwse-resize, inherit; 
@include propertyToClass('cursor', 'cursor', $cursors);
/*
  LIST
*/
$liststyletypes: circle, disc, square, armenian, cjk-ideographic, decimal, decimal-leading-zero, georgian, hebrew, hiragana, hiragana-iroha, katakana, katakana-iroha, lower-alpha, lower-greek, lower-latin, lower-roman, upper-alpha, upper-greek, upper-latin, upper-roman, none, inherit;
@include propertyToClass('list-style-type', 'list-style-type', $liststyletypes);
/*
  BACKGROUND
*/
$bgsizes: contain, cover, auto, inherit, initial, unset;
@include propertyToClass('background-size', 'background-size', $bgsizes);
$bgpositions: bottom, center, left, right, top, initial, unset;
@include propertyToClass('background-position', 'background-position', $bgpositions);
/*
  OVERFLOW
*/
$overflows: visible, hidden, scroll, auto, inherit, initial, unset;
@include propertyToClass('overflow', 'overflow', $overflows);
@include propertyToClass('overflow-y', 'overflow-x', $overflows);
@include propertyToClass('overflow-y', 'overflow-y', $overflows);
/*
  VISIBILITY
*/
$visibilities: visible, hidden, collapse, inherit, initial, unset, inherit;
@include propertyToClass('visibility', 'visibility', $visibilities);
/*
  CENTRALIZERS
*/
@include centralizers('center');