/*
 GUTTER CONFIG
*/
:root{ --hm-gutter: 14px; }
/*
 MIXINS
*/
@import 'hm_mixins';
/* 
 PADDING 
*/
@include hoz-and-vert('pad','padding', var(--hm-gutter));
@include sizefy('pad', 'padding', var(--hm-gutter));
@include sizefy('pad-t', 'padding-top', var(--hm-gutter));
@include sizefy('pad-l', 'padding-left', var(--hm-gutter));
@include sizefy('pad-r', 'padding-right', var(--hm-gutter));
@include sizefy('pad-b', 'padding-bottom', var(--hm-gutter));
/* 
 MARGIN
*/ 
@include hoz-and-vert('mar','margin', var(--hm-gutter));
@include sizefy('mar', 'margin', var(--hm-gutter));
@include sizefy('mar-t', 'margin-top', var(--hm-gutter));
@include sizefy('mar-l', 'margin-left', var(--hm-gutter));
@include sizefy('mar-r', 'margin-right', var(--hm-gutter));
@include sizefy('mar-b', 'margin-bottom', var(--hm-gutter));
/*
 BORDER
*/
@include classBorderStyles('bst');
@include sizefy('bw', 'border-width', 1px);
@include sizefy('brd', 'border-radius', var(--hm-gutter));
@include sizefy('brd-tl', 'border-top-left-radius', var(--hm-gutter));
@include sizefy('brd-tr', 'border-top-right-radius', var(--hm-gutter));
@include sizefy('brd-bl', 'border-bottom-left-radius', var(--hm-gutter));
@include sizefy('brd-br', 'border-bottom-right-radius', var(--hm-gutter));
@include classBorderRadiusCircle('brd');
@include classBorderRadiusTopBottom('brd');
/* 
 TEXT
*/
$userselects: none, text; 
@include propertyToClass('usl', 'user-select', $userselects);
$whitespaces: pre,normal, nowrap, pre-line, pre-wrap, unset;
@include propertyToClass('ws', 'white-space', $whitespaces);
$textaligns: left, right, center, justify,  ; 
@include propertyToClass('ta', 'text-align', $textaligns);
$transforms: capitalize, uppercase, lowercase,none, unset;
@include propertyToClass('tt', 'text-transform', $transforms);
$decorations: underline, overline, line-through, blink, dashed, dotted, double,none, solid, wavy;
@include propertyToClass('td', 'text-decoration', $decorations);
$fontweights: bold, bolder, lighter, 100, 200, 300, 400, 500, 600, 700, 800, 900; 
@include propertyToClass('fw', 'font-weight', $fontweights);
/* 
 CURSOR
*/ 
$cursors: auto, default, none, context-menu, help, pointer, progress, wait, cell, crosshair, text, vertical-text, alias, copy, move, no-drop, notowed, all-scroll, col-resize, row-resize, n-resize, e-resize, s-resize, w-resize, ns-resize, ew-resize, ne-resize, nw-resize, se-resize, sw-resize, nesw-resize, nwse-resize; 
@include propertyToClass('cur', 'cursor', $cursors);
/*
 POINTER EVENTS
*/
$pointerevs: auto, none;
@include propertyToClass('pev', 'pointer-events', $pointerevs);
/*
 LIST
*/
$liststyletypes: circle, disc, square, armenian, cjk-ideographic, decimal, decimal-leading-zero, georgian, hebrew, hiragana, hiragana-iroha, katakana, katakana-iroha, lower-alpha, lower-greek, lower-latin, lower-roman, upper-alpha, upper-greek, upper-latin, upper-roman, none;
@include propertyToClass('lst', 'list-style-type', $liststyletypes);
/*
 BACKGROUND
*/
$bgsizes: contain, cover, auto;
@include propertyToClass('bg', 'background-size', $bgsizes);
$bgpositions: bottom, center, left, right, top;
@include propertyToClass('bg', 'background-position', $bgpositions);
/*
 OVERFLOW
*/
$overflows: visible, hidden, scroll, auto;
@include propertyToClass('ovf', 'overflow', $overflows);
@include propertyToClass('ovf-y', 'overflow-x', $overflows);
@include propertyToClass('ovf-y', 'overflow-y', $overflows);
/*
 VISIBILITY
*/
$visibilities: visible, hidden, collapse;
@include propertyToClass('vis', 'visibility', $visibilities);
/*
 RESIZE
*/
$resizers: none, both, vertical, horizontal;
@include propertyToClass('rs', 'resize', $resizers);
/*
 CENTRALIZERS
*/
@include centralizers('cen');
/* 
 WIDTH AND HEIGHT LIMITS
*/
@include whLimiters('w', 'width');
@include whLimiters('h', 'height');
/*
 HIDINGS
*/
@include classHidings('no');